<main class="main">
  Test
  <form [formGroup]="form" id="form" (ngSubmit)="onSave()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Option</mat-label>
      <app-group-radio-button formControlName="option" [options]="groupOptions" [displayWith]="displayOption" />
    </mat-form-field>
    <button mat-raised-button color="primary" form="form">Save</button>
  </form>
  <button mat-raised-button color="primary" form="form" (click)="getData()">Get data</button>
  <pre>{{ form.value | json }}</pre>
</main>
